header{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 100px;
    border: 2px solid white;
    position:relative;
}
.userInfo{
    position:absolute;
    right: 0;
    display: flex;
}
.userInfo *{
    margin: 10px;
}